table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 85%;
  background-color: #4C6FAE;
  overflow: hidden;
  color:white;
}

th, td {

  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #BF0A30;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #EAD7C0;
  color:black;
}

tr:hover {
  background-color: #8A9A5B;
}
body {
  background-image: url("images/cactus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
button{
  font-weight: bold;
  background-color:gray;
  transform:scale(2);
  position:relative;
  left:40%;
  border-radius:5px;


}

